---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Volunteer With Us?
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Non-profit Organization with aim to put smile on faces.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Care to Support our work?</Link>
  </div>
</div>
