---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Empower Lives:",
    description:
      "Donate Today to Transform Liberia’s Future",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Join the Fight Against Poverty:",
    description:
      "Volunteer With Us",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Education for All:",
    description:
      "Sponsor a Child’s Future",
    icon: "bx:bxs-data",
  },
  {
    title: "Healthcare Matters:",
    description:
      "Support Medical Outreach Programs",
    icon: "bx:bxs-bot",
  },
  {
    title: "Build Stronger Communities:",
    description:
      "Fund Sustainable Projects",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Be the Change:",
    description:
      "Partner With Us to Make a Lasting Impact.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Founded November 6, 2014.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Extended Hands  Liberia  is a Non-Profitable Organization whose aim is to Put smiles on the faces of People across Liberia by spotlighting their stories that might be full of hope.
Stories that would also become a story of change.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
